<?xml version="1.0" encoding="utf-8" ?>
<!-- Proxy config is used to set the ArcGIS Server services that the proxy will forward to.
        
        mustMatch: true to only proxy to sites listed, false to proxy to any site -->
<ProxyConfig mustMatch="false">
  <serverUrls>
    <!-- serverUrl options:
            url = location of the ArcGIS Server, either specific URL or stem
            matchAll = true to forward any request beginning with the url
            token = (optional) token to include for secured service
            dynamicToken = if true, gets token dynamically with username and
              password stored in web.config file's appSettings section.
    -->
    <serverUrl url="https://sampleserver1.arcgisonline.com/arcgis/rest/services/" 
               matchAll="true"></serverUrl>
    <serverUrl url="https://sampleserver2.arcgisonline.com/arcgis/rest/services/" 
               matchAll="true" 
               token=""></serverUrl>
    <serverUrl url="https://server.arcgisonline.com/arcgis/rest/services/"
               matchAll="true"></serverUrl>
    <serverUrl url="https://orthogonal.esri.com/arcgis/rest/services/"
               matchAll="true"></serverUrl>
    <serverUrl url="https://geo.azmag.gov/GISMAG/rest/services/"
               matchAll="true"
               dynamicToken="true"></serverUrl>
    <serverUrl url="https://services.arcgisonline.com/ArcGIS/rest/services/"
               matchAll="true"
               dynamicToken="true"></serverUrl>

  </serverUrls>
  
</ProxyConfig>
