<div data-role="header" data-position="fixed">
    <h1><img id="logoimg" src="img/bikesign2.png" alt="Bike Sign" />&nbsp;MAG Bikeways</h1>

    <div data-role="controlgroup" data-type="horizontal" class="ui-btn-right">
        <a href="#mapPage"   class="index ui-btn ui-corner-all ui-btn-icon-notext ui-icon-home"></a>
        <a href="#Legend"   class="index ui-btn ui-corner-all ui-btn-icon-notext ui-icon-info"></a>
        <a href="#Help"     class="index ui-btn ui-corner-all ui-btn-icon-notext ui-icon-gear"></a>
    </div>

</div>
<!-- /header -->
<div role="main" class="ui-content">
    <form>
        <fieldset id="baseMap" data-role="controlgroup">
            <!--<legend>Choose a Map Type:</legend>-->
            <input type="radio" name="mapchoice" id="radio-choice-1" value="street" checked="checked">
            <label for="radio-choice-1">Street</label>
            <input type="radio" name="mapchoice" id="radio-choice-2" value="aerial">
            <label for="radio-choice-2">Aerial</label>
        </fieldset>
    </form>

    <p>
        <a href="#mapPage" data-role="button" data-inline="true" data-icon="back" data-transition="slidedown">Back to Map</a>
    </p>

</div>
<!-- /content -->
