<div data-role="header" data-position="fixed">
    <h1><img id="logoimg" src="img/bikesign2.png" alt="Bike Sign" />&nbsp;MAG Bikeways</h1>

    <div data-role="controlgroup" data-type="horizontal" class="ui-btn-right">
        <a href="#mapPage" class="index ui-btn ui-corner-all ui-btn-icon-notext ui-icon-home"></a>
        <!-- <a href="#Layers"   class="index ui-btn ui-corner-all ui-btn-icon-notext ui-icon-bars"></a> -->
        <!-- <a href="#Legend"   class="index ui-btn ui-corner-all ui-btn-icon-notext ui-icon-info"></a> -->
        <!-- <a href="#Legend"   class="index ui-btn ui-corner-all ui-btn-icon-notext ui-icon-bullets"></a> -->
        <a href="#Help" class="index ui-btn ui-corner-all ui-btn-icon-notext ui-icon-gear"></a>
    </div>

</div>
<!-- /header -->
<div data-role="main" class="ui-content">
    <h2 class="ui-bar ui-bar-b ui-corner-all">Legend</h2>
    <div class="ui-body ui-body-b ui-corner-all">

        <div data-role="controlgroup" data-enhanced="true" class="ui-controlgroup ui-controlgroup-vertical ui-group-theme-b ui-corner-all">
            <div role="heading" class="ui-controlgroup-label">

                <legend>Map Layers:</legend>
            </div>
            <div class="ui-controlgroup-controls ui-shadow">
                <label for="bikeshops">Bike Shops</label>
                    <input type="checkbox" id="bikeshops" class="check" name="bikeshops"/>
                <label for="bikepics">Bikeways Pics</label>
                    <input type="checkbox" id="bikepics" class="check" name="bikepics"/>
                <label for="crossings">Bike Crossing Types</label>
                    <input type="checkbox" id="crossings" class="check" name="crossings"/>
                <label for="transit">Transit Locations</label>
                    <input type="checkbox" id="transit" class="check" name="transit"/>
                <label for="lightrail">Light Rail</label>
                    <input type="checkbox" id="lightrail" class="check" name="lightrail"/>
                <label for="grid">GRID Bike Share</label>
                    <input type="checkbox" id="grid" class="check" name="grid"/>
            </div>
        </div>

        <div id="legendDiv"></div>
        <!-- <img id="maplegend" src="img/maplegend.png" alt="Bike map legend"/> -->

        <div data-role="controlgroup">
            <a href="#mapPage" class="ui-btn ui-corner-all ui-icon-back ui-btn-icon-left">Back to Map</a>
            <a href="#Safety" class="ui-btn ui-corner-all ui-icon-action ui-btn-icon-left">Bike Safety</a>
            <a href="#OnStreet" class="ui-btn ui-corner-all ui-icon-action ui-btn-icon-left">Street Safety</a>
            <a href="#OnPaths" class="ui-btn ui-corner-all ui-icon-action ui-btn-icon-left">Multi-Use Safety</a>
        </div>

    </div>
</div>
<!-- /content -->
<!-- <form class="ui-field-contain"> -->