<div data-role="header" data-position="fixed">
    <h1><img id="logoimg" src="img/bikesign2.png" alt="Bike Sign" />&nbsp;MAG Bikeways</h1>

    <div data-role="controlgroup" data-type="horizontal" class="ui-btn-right">
        <a href="#mapPage"   class="index ui-btn ui-corner-all ui-btn-icon-notext ui-icon-home"></a>
        <a href="#Legend"   class="index ui-btn ui-corner-all ui-btn-icon-notext ui-icon-bullets"></a>
        <a href="#Info"     class="index ui-btn ui-corner-all ui-btn-icon-notext ui-icon-info"></a>
    </div>

</div>
<!-- /header -->
<div role="main" class="ui-content">
    <h2 class="ui-bar ui-bar-b ui-corner-all">Multi-Use Path Safety</h2>
    <div class="ui-body ui-body-b ui-corner-all">
        <table class="table1">
            <tr>
                <td><img class="onpathimg" src="img/onpaths/img_multiUse_01-ToRight.jpg" /></td>
                <td><p><span><b>Keep to the Right</b></span><br>
                  All path users must keep to the right except when passing or turning left. Move off the path to the right when stopping.<br>
                </p></td>
            </tr>
            <tr>
                <td><img class="onpathimg" src="img/onpaths/img_multiUse_06-Merge.jpg" /></td>
                <td><p><span><b>Merge Correctly</b></span><br>
                  Look both ways. Yield to through traffic at intersections.
                </p></td>
            </tr>
            <tr>
                <td><img class="onpathimg" src="img/onpaths/img_multiUse_02-Signal.jpg" /></td>
                <td><p><span><b>Signal to Others</b></span><br>
                Cyclists, when approaching others, sound your bell or horn early, then pass safely on the left. Pedestrians, acknowledge with a wave when someone is overtaking.<br>
                </p></td>
            </tr>
            <tr>
                <td><img class="onpathimg" src="img/onpaths/img_multiUse_07-Nature.jpg" /></td>
                <td><p><span><b>Respect Nature</b></span><br>
                Do not disturb or feed wildlife. Keep to well established paths to protect habitats. Do not collect plant or animal material.<br>
                </p></td>
            </tr>
            <tr>
                <td><img class="onpathimg" src="img/onpaths/img_multiUse_03-RightWay.jpg" /></td>
                <td><p><span><b>Right-of-Way</b></span><br>
                Cyclists and in-line skaters must yield to pedestrians. Pedestrians always have the right-ol-way.</p></td>
            </tr>
            <tr>
                <td><img class="onpathimg" src="img/onpaths/img_multiUse_08-Skate.jpg" /></td>
                <td><p><span><b>Where to Skate</b></span><br>
                Follow the same rules as cyclists. Ensure your stride does not cross the center of the path.
                </p></td>
            </tr>
            <tr>
                <td><img class="onpathimg" src="img/onpaths/img_multiUse_04-Pet.jpg" /></td>
                <td><p><span><b>Control Your Pet</b></span><br>
                Scottsdale ordinances require pets to be leashed while on the path and owners to clean up after their pets.
                </p></td>
            </tr>
            <tr>
                <td><img class="onpathimg" src="img/onpaths/img_multiUse_09-Visable.jpg" /></td>
                <td><p><span><b>Be Visible</b></span><br>
                Outfit your bicycle with a headlight, rear light, and reflectors as you would for riding on the road.
                </p></td>
            </tr>
            <tr>
                <td><img class="onpathimg" src="img/onpaths/img_multiUse_05-Earphone.jpg" /></td>
                <td><p><span><b>Earphone Dangers</b></span><br>
                Keep the volume sufficiently low to be able to hear other path users approaching.<br>
                </p></td>
            </tr>
            <tr>
                <td><img class="onpathimg" src="img/onpaths/img_multiUse_10-Flood.jpg" /></td>
                <td><p><span><b>Flooded Paths</b></span><br>
                Many of our paths are in flood channels. Do not enter when water is present.
                </p></td>
            </tr>
        </table>
    </div>

    <div data-role="controlgroup">
        <a href="#mapPage" class="ui-btn ui-corner-all ui-icon-back ui-btn-icon-left">Back to Map</a>
        <a href="#Safety" class="ui-btn ui-corner-all ui-icon-action ui-btn-icon-left">Bike Safety</a>
        <a href="#OnStreet" class="ui-btn ui-corner-all ui-icon-action ui-btn-icon-left">Street Safety</a>
    </div>

</div>
<!-- /content -->
