<div data-role="header" data-position="fixed">
    <h1><img id="logoimg" src="img/bikesign2.png" alt="Bike Sign" />&nbsp;MAG Bikeways</h1>

    <div data-role="controlgroup" data-type="horizontal" class="ui-btn-right">
        <a href="#mapPage" class="index ui-btn ui-corner-all ui-btn-icon-notext ui-icon-home"></a>
        <a href="#Legend"  class="index ui-btn ui-corner-all ui-btn-icon-notext ui-icon-bullets"></a>
        <a href="#Help"    class="index ui-btn ui-corner-all ui-btn-icon-notext ui-icon-gear"></a>
    </div>
</div>
<!--/header -->
<div role="main" class="ui-content">
    <h2 class="ui-bar ui-bar-b ui-corner-all">Street Bikeways Safety</h2>
    <div class="ui-body ui-body-b ui-corner-all">
        <table class="table1">
            <tr>
                <td><img class="onstreetimg" src="img/onstreet/img_onStreet_01-Obey.jpg" /></td>
                <td><p><span><b>Obey Traffic Signals and Signs</b></span><br>
                As a vehicle, bicycles must obey all the Rules of the Road. Cyclists have the same privileges and duties as other traffic.</p></td>
            </tr>
            <tr>
                <td><img class="onstreetimg" src="img/onstreet/img_onStreet_07-Right.jpg" /></td>
                <td><p><span><b>Ride on the Right</b></span><br>
                Ride on the right with the flow of traffic. Never ride against traffic on the road, in a bike lane, or on a sidewalk.</p></td>
            </tr>
            <tr>
                <td><img class="onstreetimg" src="img/onstreet/img_onStreet_02-Lane.jpg" /></td>
                <td><p><span><b>Use Appropriate Lane</b></span><br>
                Avoid being in a right turn-only lane if you plan to proceed straight through. Move into the through lane early.</p></td>
             </tr>
             <tr>
                <td><img class="onstreetimg" src="img/onstreet/img_onStreet_08-Left.jpg" /></td>
                <td><p><span><b>Turning Left -Two Options</b></span><br>
                    <strong>1.</strong> As a vehicle -signal your intentions in advance. Move to the left turn lane and complete the turn when safe.<br>
                    <strong>2.</strong> As a pedestrian -ride to the far crosswalk and walk across.<br>
                </p></td>
            </tr>
            <tr>
                <td><img class="onstreetimg" src="img/onstreet/img_onStreet_03-Doors.jpg" /></td>
                <td><p><span><b>Beware of Car Doors</b></span><br />
                Be wary of parked cars. Motorists can unexpectedly open doors. Be sure your bike is a car door length away from parked cars.</p></td>
            </tr>
            <tr>
                <td><img class="onstreetimg" src="img/onstreet/img_onStreet_09-Signals.jpg" /></td>
                <td><p><span><b>Use Hand Signals</b></span><br>
                Signal all turns and stops ahead of time. Check over your shoulder, then make your turn/stop when safe to do so.</p></td>
            </tr>
            <tr>
                <td><img class="onstreetimg" src="img/onstreet/img_onStreet_04-Night.jpg" /></td>
                <td><p><span><b>Use Lights at Night</b></span><br>
                Always use a strong white headlight, rear light and red reflector at night or when visibility is poor.</p></td>
            </tr>
            <tr>
                <td><img class="onstreetimg" src="img/onstreet/img_onStreet_10-Eye.jpg" /></td>
                <td><p><span><b>Make Eye Contact</b></span><br>
                Confirm that you are seen. Establish eye contact with motorists to ensure that they know you are on the road.
                Share the road in a polite and courteous manner.</p></td>
            </tr>
            <tr>
                <td><img class="onstreetimg" src="img/onstreet/img_onStreet_05-Scan.jpg" /></td>
                <td><p><span><b>Scan the Road Behind</b></span><br>
                Look over your shoulder to check behind you regularly and use a mirror to monitor traffic.
                Although bicycles have equal right to the road, be prepared to maneuver for safety.</p></td>
            </tr>
            <tr>
                <td><img class="onstreetimg" src="img/onstreet/img_onStreet_11-Person.jpg" /></td>
                <td><p><span><b>One Person Per Bike</b></span><br>
                Riding double is only permitted when carrying a child in an approved carrier or when riding on a tandem bicycle.</p></td>
            </tr>
            <tr>
                <td><img class="onstreetimg" src="img/onstreet/img_onStreet_06-Helmet.jpg" /></td>
                <td><p><span><b>Helmet your Head</b></span><br>
                Cyclists should always wear a helmet.</p></td>
            </tr>
            <tr>
                <td><img class="onstreetimg" src="img/onstreet/img_onStreet_12-Courteous.jpg" /></td>
                <td><p><span><b>Be Courteous</b></span><br>
                Share the road and the responsibilities. Motorists and cyclists get along much better when
                showing courtesy and consideration towards each other.</p></td>
            </tr>
            <tr>
                <td><img class="onstreetimg" src="img/onstreet/img_onStreet_13-NoEarphone.png" /></td>
                <td><p><span><b>Earphone Dangers</b></span><br>
                Never use earphones while riding on the road, as you will not be able to hear what’s going on around you.
                </p></td>
            </tr>
        </table>
    </div>

    <div data-role="controlgroup">
        <a href="#mapPage" class="ui-btn ui-corner-all ui-icon-back ui-btn-icon-left">Back to Map</a>
        <a href="#Safety" class="ui-btn ui-corner-all ui-icon-action ui-btn-icon-left">Bike Safety</a>
        <a href="#OnPaths" class="ui-btn ui-corner-all ui-icon-action ui-btn-icon-left">Multi-Use Safety</a>
    </div>

</div>
<!-- /content -->