<div data-role="header" data-position="fixed">
    <h1><img id="logoimg" src="img/bikesign2.png" alt="Bike Sign" />&nbsp;MAG Bikeways</h1>

    <div data-role="controlgroup" data-type="horizontal" class="ui-btn-right">
        <a href="#mapPage"   class="index ui-btn ui-corner-all ui-btn-icon-notext ui-icon-home"></a>
        <a href="#Legend"   class="index ui-btn ui-corner-all ui-btn-icon-notext ui-icon-bullets"></a>
        <a href="#Help"     class="index ui-btn ui-corner-all ui-btn-icon-notext ui-icon-gear"></a>
    </div>

</div>
<!--/header -->
<div role="main" class="ui-content">
    <h2 class="ui-bar ui-bar-b ui-corner-all">Bike Safety Tips</h2>
    <div class="ui-body ui-body-b ui-corner-all">
        <table class="table1">
            <p><b>Ride Defensively</b><br>
                Prepare for the unexpected and plan alternative maneuvers to avoid conflict. Traffic laws alone do not always protect bicyclists from injury. <b style="color: #a80000">Be Alert. Be Visible. Ride Predictably.</b>
            </p>
            <hr>
            <p><b>Always Maintain Control of Your Bike</b><br>
                Except while signaling, keep both hands on the handlebars. Always be prepared to stop or make quick turns. Follow lane markings. Cross railroad tracks at a 90-degree angle.
            </p>
            <hr>
            <tr>
                <td class="tdstyle"><b>Wear a Helmet</b><br>
                A bike helmet must fit well and be properly adjusted to do its job of protecting your head. It should fit snugly with the chin strap fastened. When purchasing a helmet, make sure it is approved by the American National Standards Institute (ANSI) or the Snell Institute. Helmets should be replaced after the impact of a collision or even after several years of wear and tear.
                </td>
                <td class="tdstyle"><img id="safeimg" src="img/safety/bikehelmetinfo.jpg" alt="Helmet Info"/></td>
            </tr>
            <p><b>Obey Traffic Signs, Signals and Laws</b><br>
                When on the road, bicyclists have the same rights and responsibilities as drivers of vehicles. Knowing and following the rules of the road help all road users properly anticipate and react to each other. See Arizona Revised Statutes <a href="http://www.azleg.gov/ArizonaRevisedStatutes.asp?Title=28" target="_blank">(ARS) Sections 28-811 to 28-817</a> for more information.
            </p>
            <hr>
            <tr>
                <td class="tdstyle"><b>Bike Route Sign</b><br>
                Generally used to denote streets that do not have bike lanes, but that are good streets to ride a bike on. These roads usually have lower speeds and volumes.
                </td>
                <td class="tdstyle"><img id="safeimg" src="img/safety/saferoutesign.jpg" alt="Bike Route Sign"/></td>
            </tr>
            <tr>
                <td class="tdstyle"><b>Bicycle Share the Road Sign</b><br>
                May be used to denote routes without designated bicycle lanes, where bikes and cars are expected to share a lane. Drivers are required by state law to provide at least three feet of separation when passing a bike rider.
                </td>
                <td class="tdstyle"><img id="safeimg" src="img/safety/shareroad.png" alt="Share the Road Sign"/></td>
            </tr>
        </table>
    </div>

    <div data-role="controlgroup">
        <a href="#mapPage" class="ui-btn ui-corner-all ui-icon-back ui-btn-icon-left">Back to Map</a>
        <a href="#OnStreet" class="ui-btn ui-corner-all ui-icon-action ui-btn-icon-left">Street Safety</a>
        <a href="#OnPaths" class="ui-btn ui-corner-all ui-icon-action ui-btn-icon-left">Multi-Use Safety</a>
    </div>

</div>
<!-- /content -->