<div data-role="header" data-position="fixed">
    <h1><img id="logoimg" src="img/bikesign2.png" alt="Bike Sign" />&nbsp;MAG Bikeways</h1>

    <div data-role="controlgroup" data-type="horizontal" class="ui-btn-right">
        <a href="#mapPage"   class="index ui-btn ui-corner-all ui-btn-icon-notext ui-icon-home"></a>
        <!-- <a href="#Layers"   class="index ui-btn ui-corner-all ui-btn-icon-notext ui-icon-bars"></a> -->
        <!-- <a href="#Legend"   class="index ui-btn ui-corner-all ui-btn-icon-notext ui-icon-info"></a> -->
        <a href="#Legend"   class="index ui-btn ui-corner-all ui-btn-icon-notext ui-icon-bullets"></a>
        <a href="#Help"     class="index ui-btn ui-corner-all ui-btn-icon-notext ui-icon-gear"></a>
    </div>

</div>
<!--/header -->
<div role="main" class="ui-content">
    <h2 class="ui-bar ui-bar-b ui-corner-all">Bike Safety Tips</h2>
    <div class="ui-body ui-body-b ui-corner-all">
        <table class="table1">
            <p><b>Ride Defensively</b><br>
                Prepare for the unexpected and plan alternative maneuvers to avoid conflict.
                Rules alone do not always protect bicyclists from injury. <b style="color: #a80000">Be Alert. Be Visible. Ride Predictably.</b>
            </p>
            <hr>
            <p><b>Always Maintain Control of Your Bike</b><br>
                Keep both hands on the handlebars. Be prepared to stop or make quick turns.
                Follow lane markings. Cross railroad tracks at a 90-degree angle.
            </p>
            <hr>
            <tr>
                <td class="tdstyle"><b>Wear a Helmet</b><br>
                A bike helmet must fit well and be properly adjusted to do its job of protecting your head.
                It should fit snugly with the chin strap fastened. When purchasing a helmet, make sure it is
                approved by the American National Standards Institute (ANSI) or the Snell Institute.
                Helmets should be replaced after the impact of an accident or even after. several years of wear and tear.
                </td>
                <td class="tdstyle"><img id="safeimg" src="img/safety/bikehelmetinfo.jpg" alt="Helmet Info"/></td>
            </tr>
            <p><b>Obey Traffic Signs, Signals and Laws</b><br>
                Bicyclists must operate their bicycles like drivers of motor vehicles.
                Obeying laws helps you to be taken seriously by motorists.
            </p>
            <hr>
            <tr>
                <td class="tdstyle"><b>Bike Route Sign</b><br>
                May be used to denote multi-use paths, wide outside curb lanes and bicycle routes.
                </td>
                <td class="tdstyle"><img id="safeimg" src="img/safety/saferoutesign.jpg" alt="Bike Route Sign"/></td>
            </tr>
            <tr>
                <td class="tdstyle"><b>Bicycle Share the Road Sign</b><br>
                May be used to denote routes without designated bicycle lanes.
                </td>
                <td class="tdstyle"><img id="safeimg" src="img/safety/shareroad.png" alt="Share the Road Sign"/></td>
            </tr>
        </table>
    </div>

    <div data-role="controlgroup">
        <a href="#mapPage" class="ui-btn ui-corner-all ui-icon-back ui-btn-icon-left">Back to Map</a>
        <a href="#OnStreet" class="ui-btn ui-corner-all ui-icon-action ui-btn-icon-left">Street Safety</a>
        <a href="#OnPaths" class="ui-btn ui-corner-all ui-icon-action ui-btn-icon-left">Multi-Use Safety</a>
    </div>

</div>
<!-- /content -->

<!-- <a href="#Legend" data-role="button" data-inline="true" data-icon="back" data-transition="slidedown">Back</a> -->
<!-- <a href="#mapPage" data-role="button" data-inline="true" data-icon="back" data-transition="slidedown">Back to Map</a>
<a href="#OnStreet" data-role="button" data-inline="true" data-transition="slide" data-icon="action">Street Safety</a>
<a href="#OnPaths" data-role="button" data-inline="true" data-transition="slide" data-icon="action">Multi-Use Safety</a> -->