<div class="aboutTab">
    <h4>About the MAG Interactive Bikeways Viewer</h4>
    <div class="safetyContainer">
        <div>
            The MAG Bikeways map shows existing, locally-designated bicycle facilities, and is provided to you by the Maricopa Association
            of Governments (MAG). This map has been produced under the direction of the MAG Regional Bicycle Task Force.
            Funding was provided by the Federal Highway Administration. If you have any comments, please call MAG at (602)
            254-6300 or visit our web site at
            <a class="link" title="website link" role="navigation" target="_blank" href="http://azmag.gov/">www.azmag.gov</a>.
        </div>
    </div>
    <div class="safetyContainer">
        <img src="img/valley-path-logo.png" width="145" height="105" style="padding: 0 10px 0 10px">
        <div>
            The Valley Path Brand &amp; Wayfinding Signage Guidelines serve as a technical resource to guide parks and transportation
            agencies as they plan, design and implement the brand and wayfinding signage along the off-street bicycle network
            in the Phoenix metro area. The Maricopa Association of Governments (MAG) and member agencies developed this manual
            in response to requests from the public for better uniformity and consistency of wayfinding signage throughout
            the regional off-street bicycle network. For more information visit
            <a class="link" title="website link" role="navigation" target="_blank" href="http://azmag.gov/Programs/Transportation/Active-Transportation">MAG Active-Transportation</a>.
        </div>
    </div>
    <div class="legal">
        <strong>Disclaimer:</strong> This map is intended to aid bike riders in choosing routes between locations. This map is not
        in any way a warranty or guarantee as to the stability of roadway conditions or the fitness of listed routes for
        riding bikes. Many of the routes identified on this map cross or run along public roads which are exposed to wear
        and tear and degradation due to weather, traffic, and other environmental concerns. Riders should remain alert as
        routes may contain pavement rutting, cracks, bumps, expansion joints, natural or other debris on pavement surfaces,
        and vegetation which may encroach on routes or portions thereof. Riders should also remain alert for areas of visual
        impairment and other irregularities that may impact rider and motorist ability to see each other or potential road
        hazards. The chance that one may come into an area of visual impairment or a route irregularity warrants special
        care on the part of route users.
        <br> Government resources limit the capacity to address conditions and irregularities like those described above. Accordingly,
        route users should maintain a vigilant lookout for these conditions and irregularities. Route users are urged to
        exercise discretion when choosing where and when to ride based on personal comfort and safety and the comfort and
        safety of others. Safe route selection includes consideration of motor vehicle, bicycle and pedestrian traffic and
        roadway or route conditions. MAG does not assume liability for bike riders traveling upon routes shown in this map.
    </div>
    <div id="socialLinks">
        <a href="https://www.facebook.com/MAGBikeways" target="_blank" class="ui-link">
            <img class="aboutSocialImg" id="facebook" src="img/FB_FindUsOnFacebook-144.png">
        </a>
        <a href="http://www.azmag.gov/portals/0/Documents/MAG_2015-10-21_Bike-Pathways-Map.pdf" target="_blank" class="ui-link">
            <img class="aboutSocialImg" id="pdf" src="img/pdf_icon.jpg">
            <small class="link">2015 MAG Bikeways Map</small>
        </a>
    </div>
    <hr>
    <div id="copyDiv">
        <span class="copyright">Copyright © 2018</span>
        <a class="link" title="website link" role="navigation" target="_blank" href="https://www.azmag.gov/">Maricopa Association of Governments</a> |
        <a href="#Legal" class="link" title="Legal">Legal Disclaimer</a>
        <br>
        <span class="version">v3.3.3 | 2018-04-11</span>
    </div>
</div>