<div class="aboutTab">
    <div class="panelHeader">
        <span id="aboutTitle" class="panelHeaderText">About the MAG Interactive Bikeways Viewer</span>
        <a class="closePanel" href="#">
            <i class="glyphicon glyphicon-remove"></i>
        </a>
    </div>
    <div style="text-align: center;">
        <img style="margin: 10px; height:29px;" src="img/MagLogo.png" alt="">
    </div>
    <div>
        The MAG Bikeways map shows existing, locally-designated bicycle facilities, and is provided to you by the Maricopa Association
        of Governments (MAG). This map has been produced under the direction of the MAG Regional Bicycle Task Force. Funding
        was provided by the Federal Highway Administration. If you have any comments, please call MAG at (602) 254-6300 or
        visit our web site at
        <a class="link" title="website link" role="navigation" target="_blank" href="http://azmag.gov/">www.azmag.gov</a>.
    </div>
    <br>
    <div class="safetyContainer">
        <!-- style="padding: 0 10px 0 10px" width="145" height="105" -->
        <img width="145" height="105" src="img/valley-path-logo.png">
        <div style="flex: 1; margin-left: 15px;">
            The Valley Path Brand &amp; Wayfinding signage guidelines help parks and transportation agencies plan, design and implement
            signs in the Phoenix metro area. These signs appear along the off-street bicycle network. For more information
            visit
            <a class="link" title="website link" role="navigation" target="_blank" href="http://azmag.gov/Programs/Transportation/Active-Transportation">MAG Active-Transportation</a>.
        </div>
    </div>
    <br>
    <div class="safetyContainer">
        <!-- style="padding: 0 10px 0 10px" width="145" height="105" -->
        <a title="Click to go to map" target="_blank" class="image-container" href="https://geo.azmag.gov/maps/atp/">
            <img width="145" data-title="atp" height="105" src="https://azmag.gov/portals/0/Images/img_Transportation/img_comment-viewer.JPG">
            <div class="after">
                <span class="centeredContent">
                    <h5>Go To Map</h5>
                </span>
            </div>
        </a>
        <div style="flex: 1; margin-left: 15px;">
            Visit the Interactive Active Transportation Comments Map to share your knowledge and preferences for biking and walking in
            the MAG Region. Your input will help planners better understand where you go when you walk and bike.
        </div>
    </div>
    <hr>
    <div class="legal">
        <strong>Disclaimer:</strong> This map is intended to aid bike riders in choosing routes between locations. This map is not
        in any way a warranty or guarantee as to the stability of roadway conditions or the fitness of listed routes for
        riding bikes. Many of the routes identified on this map cross or run along public roads which are exposed to wear
        and tear and degradation due to weather, traffic, and other environmental concerns. Riders should remain alert as
        routes may contain pavement rutting, cracks, bumps, expansion joints, natural or other debris on pavement surfaces,
        and vegetation which may encroach on routes or portions thereof. Riders should also remain alert for areas of visual
        impairment and other irregularities that may impact rider and motorist ability to see each other or potential road
        hazards. The chance that one may come into an area of visual impairment or a route irregularity warrants special
        care on the part of route users.
        <br> Government resources limit the capacity to address conditions and irregularities like those described above. Accordingly,
        route users should maintain a vigilant lookout for these conditions and irregularities. Route users are urged to
        exercise discretion when choosing where and when to ride based on personal comfort and safety and the comfort and
        safety of others. Safe route selection includes consideration of motor vehicle, bicycle and pedestrian traffic and
        roadway or route conditions. MAG does not assume liability for bike riders traveling upon routes shown in this map.

    </div>
    <hr>
    <h4>Contact</h4>
    <div style="font-size: 12px;">
        <b>Jason Stephens</b>
        <span>Transportation Planner III</span>:
        <br>
        <a class="link" href="mailto:Jstephens@azmag.gov?subject=Active%20Transportation%20Plan" target="_top">Jstephens@azmag.gov</a>
        <br>
        <span>Office: 602.452.5004</span>
    </div>
    <hr>
    <div id="socialLinks">
        <a href="https://www.facebook.com/MAGBikeways" target="_blank" class="ui-link">
            <img class="aboutSocialImg" id="facebook" src="img/FB_FindUsOnFacebook-144.png">
        </a>
        <a href="http://www.azmag.gov/portals/0/Documents/MAG_2015-10-21_Bike-Pathways-Map.pdf" target="_blank" class="ui-link">
            <img class="aboutSocialImg" id="pdf" src="img/pdf_icon.jpg">
            <small class="link">2015 MAG Bikeways Map</small>
        </a>
    </div>
    <hr>
    <div id="copyDiv">
        <span class="copyright">Copyright © 2018
        </span>
        <a class="link" title="website link" role="navigation" target="_blank" href="https://www.azmag.gov/">Maricopa Association of Governments</a>
        <!-- <a href="#Legal" class="link" title="Legal">Legal Disclaimer</a> -->
        <br>
        <span class="version">v4.0.2 | 2018-09-04</span>
    </div>
</div>
