<div data-role="header" data-position="fixed">
    <h1><img id="logoimg" src="img/bikesign2.png" alt="Bike Sign" />&nbsp;MAG Bikeways</h1>
    <div data-role="controlgroup" data-type="horizontal" class="ui-btn-right">
        <a href="#mapPage" class="index ui-btn ui-corner-all ui-btn-icon-notext ui-icon-home"></a>
        <a href="#Legend" class="index ui-btn ui-corner-all ui-btn-icon-notext ui-icon-bullets"></a>
        <a href="#Info" class="index ui-btn ui-corner-all ui-btn-icon-notext ui-icon-info"></a>
    </div>
</div>
<!-- /header -->
<div role="main" class="ui-content">
    <h2 class="ui-bar ui-bar-b ui-corner-all">Bikeways Help</h2>

    <div class="ui-body ui-body-b ui-corner-all">
        <h2>Using this Map</h2>
        <p>This map displays the bicycle routes and features in and about the MAG region.</p>
        <p>To view information for a particular route or item in the map pan and zoom to a location or feature of interest and click on it.  Features are displayed over the background or basemap.</p>

        <p>Popup results may include more than one page.  Look for a page count on the left in the title bar and paging arrows on the right as shown below.</p>
        <span class="helpPop"><img src="img/popup.png"></span>

        <h2>Map Navigation</h2>
        <h4 class="help4">Pan:</h4>
        <ul class="help4">
            <li>Click and drag on the map</li>
            <li>Use keyboard arrow keys</li>
        </ul>
        <h4 class="help4">Zoom In:</h4>
        <ul class="help4">
            <li>Click the Zoom In tool <img src="img/plusZoom.jpg" class="imgZoom"></li>
            <li>SHIFT + drag a box in the map</li>
            <li>Mouse scroll forward</li>
        </ul>
        <h4 class="help4">Zoom Out:</h4>
        <ul class="help4">
            <li>Click the Zoom Out tool <img src="img/minZoom.jpg" class="imgZoom"></li>
            <li>SHIFT + CTRL + drag a box in the map</li>
            <li>Mouse scroll reverse</li>
        </ul>

        <h3>Zoom</h3>
        <div class="helpCont">
            <img src="img/zoom.jpg">
            <p> + to Zoom in</br></br> - to Zoom out</p>
        </div>

        <h3>Home</h3>
        <p class="helpCont"><img src="img/home.png">  Zoom to the full extent of the MAG Region</p>

        <h3>Basemap Control</h3>
        <p class="helpCont"><img src="img/basemap.png">  Click the Basemap icon to change the map background.  Choices are between street maps and aerial images.</p>

        <h3>Layer List</h3>
        <p class="helpCont"><img src="img/legend.png">  Open the Layer List to interact with and control the display of map content.  Each entry in the list is considered to be a layer. The visibility of each layer is controlled by checking (visible) or unchecking (hidden) the box to the left of the layer name.</p>

        <h3>My Location</h3>
        <p class="helpCont"><img src="img/location.png">  Use the My Location button to zoom the map to an estimate of your current location.  This generally works better on mobile devices, especially with GPS enabled, than on desktops.</p>

        <h3>About</h3>
        <p class="helpCont"><img src="img/info.png">  The About button opens this page with map information and instructions for use.</p>

        <h2>Define Route Types</h2>
            <ul>
                <li><strong>Bike Lane</strong></li>
                <ul>
                    <li>A portion of the roadway designated for preferential or exclusive use by bicyclists special pavement markings and signs identifying the lanes.</li>
                </ul>
                <li><strong>Bike Route</strong></li>
                <ul>
                    <li>A roadway open to both bicycle and motor vehicle travel and recognized as bicycle friendly. Often indicated by signage.</li>
                </ul>
                <li><strong>Paved Shoulder</strong></li>
                <ul>
                    <li>The portion of the roadway contiguous with the traveled way that accommodates stopped vehicles.</li>
                </ul>
                <li><strong>Multi-Use Path - Paved</strong></li>
                <ul>
                    <li>A bikeway physically separated from motor vehicle traffic by an open space or barrier and either within the right of way or within an independent right of way. Trails may be used by pedestrians, skaters, wheelchair users, and joggers.</li>
                </ul>
                <li><strong>Multi-Use Path - Unpaved</strong></li>
                <ul>
                    <li>A bikeway physically separated from motor vehicle traffic by an open space or barrier and either within the right of way or within an independent right of way. Trails may be used by pedestrians, skaters, wheelchair users, and joggers.</li>
                </ul>
                <li><strong>Recreational Trail</strong></li>
                <ul>
                    <li>A bikeway or Trail, typically unpaved, that may be used by both hikers and bikers in recreational areas.</li>
                </ul>
            </ul>

    </div>

    <div data-role="controlgroup">
        <a href="#mapPage" class="ui-btn ui-corner-all ui-icon-back ui-btn-icon-left">Back to Map</a>
    </div>

</div>
<!-- /content -->
