<div id="helpContent">
    <div class="panelHeader">
        <span class="panelHeaderText">Using this Map</span>
        <a class="closePanel" href="#">
            <i class="glyphicon glyphicon-remove"></i>
        </a>
    </div>
    <div class="panelContent">
        <div class="helpSection">
            <h4>Map Navigation</h4>
            <b>Pan:</b>
            <ul>
                <li>Click or touch the map and drag</li>
                <li>Use keyboard arrow keys</li>
            </ul>
            <b>Zoom:</b>
            <ul>
                <li>
                    <span>
                        Click the zoom buttons
                    </span>
                    <span style="display: flex; align-items: center;">
                        <span style="margin-right:15px;" class="esri-widget-button esri-widget esri-interactive" role="button" tabindex="0" title="Zoom In">
                            <i class="esri-icon fas fa-plus"></i>
                        </span>
                        <span>Zoom In</span>
                    </span>
                    <span style="display: flex; align-items: center;">
                        <span style="margin-right:15px;" class="esri-widget-button esri-widget esri-interactive" role="button" tabindex="0" title="Zoom In">
                            <i class="esri-icon fas fa-minus"></i>
                        </span>
                        <span>Zoom Out</span>
                    </span>
                </li>
                <li>SHIFT + drag a box in the map</li>
                <li>Scroll using the mouse</li>
            </ul>
            <b>Home</b>
            <ul>
                <li>
                    Return to default map view
                    <div class="esri-component esri-widget-button esri-widget" role="button" tabindex="0">
                        <span class="esri-icon">
                            <i class="fas fa-home"></i>
                        </span>
                    </div>
                </li>
            </ul>
        </div>

        <h4>Basemap Control</h4>
        <div>
            <img src="img/basemap.png"> Click the Basemap icon to change the map background. Choices are between street maps and aerial images.
        </div>

        <h4>Layer List</h4>
        <div>
            <i class="glyphicon glyphicon glyphicon-check"></i>
            Open the Layer List to interact with and control the display of map content. Each entry in the list is considered to be a
            layer. The visibility of each layer is controlled by checking (visible) or unchecking (hidden) the box to the
            left of the layer name.
        </div>

        <h4>My Location</h4>
        <div>
            <img src="img/location.png"> Use the My Location button to zoom the map to an estimate of your current location. This generally works better
            on mobile devices, especially with GPS enabled, than on desktops.
        </div>

        <h4>About</h4>
        <div>
            <i class="glyphicon glyphicon glyphicon-info-sign"></i>
            The About button opens this page with map information and instructions for use.
        </div>
    </div>
</div>