<iv id="helpContent">
    <div class="panelHeader">
        <span class="panelHeaderText">Using this Map</span>
        <a class="closePanel" href="#">
            <i class="glyphicon glyphicon-remove"></i>
        </a>
    </div>
    <div class="panelContent">
        <h5>Map Navigation</h5>
        <div class="helpSection">
            <b>Pan:</b>
            <ul>
                <li>Click or touch the map and drag</li>
                <li>Use keyboard arrow keys</li>
            </ul>
            <b>Zoom:</b>
            <ul>
                <li>
                    <span>
                        Click the zoom buttons:
                    </span>
                    <span style="display: flex; align-items: center;">
                        <span style="margin-right:15px;" class="esri-widget-button esri-widget esri-interactive" role="button" tabindex="0" title="Zoom In">
                            <i class="esri-icon fas fa-plus"></i>
                        </span>
                        <span>Zoom In</span>
                    </span>
                    <span style="display: flex; align-items: center;">
                        <span style="margin-right:15px;" class="esri-widget-button esri-widget esri-interactive" role="button" tabindex="0" title="Zoom In">
                            <i class="esri-icon fas fa-minus"></i>
                        </span>
                        <span>Zoom Out</span>
                    </span>
                </li>
                <li>SHIFT + drag a box in the map</li>
                <li>Scroll using the mouse</li>
            </ul>
            <b>Home</b>
            <ul>
                <li>
                    <span style="display: flex; align-items: center;">
                        <span class="esri-component esri-widget-button esri-widget" role="button" tabindex="0">
                            <span class="esri-icon">
                                <i class="fas fa-home"></i>
                            </span>
                        </span>
                        <span style="margin-left:15px; flex:1;">Return to the default map view</span>
                    </span>
                </li>
            </ul>
        </div>
    </div>

    <h5>Basemap Control</h5>
    <div class="helpSection">
        <div style="display: flex; align-items: center;">
            <div class="esri-component esri-widget-button esri-widget" role="button" tabindex="0" aria-label="Toggle Basemap" title="Toggle Basemap">
                <span class="esri-icon">
                    <img style="width: 27px; margin-top: 4px;" src="img/widgetIcons/Imagery-Map-View-Icon.png" alt="">
                </span>
                <span class="esri-icon-font-fallback-text">Toggle Basemap</span>
            </div>
            <span style="margin-left:15px; flex:1;">Click the Basemap Toggle Button to toggle the map background between a gray basemap and satellite imagery.</span>
        </div>
    </div>
    <h5>Find My Location</h5>

    <div class="helpSection">
        <div style="display: flex; align-items: center;">
            <div class="esri-component esri-widget-button esri-widget" role="button" tabindex="0">
                <span class="esri-icon">
                    <i style="margin-top: 2px;" class="fas fa-map-marker-alt"></i>
                </span>
            </div>
            <span style="margin-left:15px; flex:1;">Use the My Location button to zoom the map to your current location. This works best on mobile devices with GPS
                enabled.
            </span>
        </div>
    </div>

    <h5>Layer List</h5>
    <div class="helpSection">
        <div style="display: flex; align-items: center;">
            <span>
                <img width="60" src="./img/LayersBtn.png" alt="test">
            </span>
            <span style="margin-left:15px;">
                Open the Layers List to interact with and control the display of map content. The visibility of each layer is controlled
                by checking (visible) or unchecking (hidden) the box to the left of the layer name.
            </span>
        </div>
    </div>
</iv>
</iv>
