<div id="helpContent">
    <h4>Using this Map</h4>
    <div>
        This map displays the bicycle routes and features in and about the MAG region.
    </div>
    <div>
        To view information for a particular route or item in the map pan and zoom to a location or feature of interest and click
        on it. Features are displayed over the background or basemap.
    </div>
    <div>
        Popup results may include more than one page. Look for a page count on the left in the title bar and paging arrows on the
        right as shown below.
    </div>
    <span class="helpPop">
        <img class="img-responsive" src="img/popup.png">
    </span>

    <h4>Map Navigation</h4>
    <b>Pan:</b>
    <ul>
        <li>Click and drag on the map</li>
        <li>Use keyboard arrow keys</li>
    </ul>
    <b>Zoom In:</b>
    <ul>
        <li>Click the Zoom In tool
            <img src="img/plusZoom.png" class="imgZoom">
        </li>
        <li>SHIFT + drag a box in the map</li>
        <li>Mouse scroll forward</li>
    </ul>
    <b>Zoom Out:</b>
    <ul>
        <li>Click the Zoom Out tool
            <img src="img/minZoom.png" class="imgZoom">
        </li>
        <li>SHIFT + CTRL + drag a box in the map</li>
        <li>Mouse scroll reverse</li>
    </ul>

    <h4>Home</h4>
    <div>
        <img src="img/home.png"> Zoom to the full extent of the MAG Region
    </div>

    <h4>Basemap Control</h4>
    <div>
        <img src="img/basemap.png"> Click the Basemap icon to change the map background. Choices are between street maps and aerial images.
    </div>

    <h4>Layer List</h4>
    <div>
        <i class="glyphicon glyphicon glyphicon-check"></i>
        Open the Layer List to interact with and control the display of map content. Each entry in the list is considered to be a
        layer. The visibility of each layer is controlled by checking (visible) or unchecking (hidden) the box to the left
        of the layer name.
    </div>

    <h4>My Location</h4>
    <div>
        <img src="img/location.png"> Use the My Location button to zoom the map to an estimate of your current location. This generally works better
        on mobile devices, especially with GPS enabled, than on desktops.
    </div>

    <h4>About</h4>
    <div>
        <i class="glyphicon glyphicon glyphicon-info-sign"></i>
        The About button opens this page with map information and instructions for use.
    </div>
</div>