<div id="popupModal" data-role="popup" data-dismissible="true" data-overlay-theme="b" data-theme="a" data-position-to="window" data-history="false">
    <div data-role="header" class="pHeader">
        <h2>MAG Bikeways Info</h2>
        <a href="#" data-rel="back" class="ui-btn-right ui-icon-delete ui-btn-icon-notext"></a>
    </div>
    <div role="main" class="pContent">
        <p><img class="logoimg" src="img/bikesign2.png" alt="Bike Sign" />&nbsp;The MAG Bikeways map shows existing, locally-designated bicycle facilities, and is provided to you by the Maricopa Association of Governments (MAG). This map has been produced under the direction of the MAG Regional Bicycle Task Force. If you have any comments, please call MAG at (602) 254-6300 or visit our web site at <a class="links" title="MAG Website" role="navigation" target="_blank" href="http://azmag.gov/">www.azmag.gov</a></p>
        <p><a href="https://geo.azmag.gov/maps/recreation/" class="links" title="RAD Viewer" role="navigation" target="_blank"><img class="logoimg" src="img/RAD_Icon_72x72.png" alt="RAD Icon" /></a>&nbsp;If you are looking for more recreation information checkout out one of our new viewers the RAD viewer. The RAD viewer includes all public parks and recreation areas in the region along with highlighted destinations as well as bicycle paths and public transit routes to help you get around.</p>
        <span class="buttonSpan"><a href="https://geo.azmag.gov/maps/recreation/" class="links pButton ui-btn ui-btn-inline ui-corner-all" title="RAD Viewer" role="navigation" target="_blank">Visit RAD Viewer</a></span>
    </div>
    <hr class="pft">
    <div data-role="footer" class="pFooter">
        <p>Copyright &copy; <span class="copyright"></span> <a class="links" title="MAG Website" role="navigation" target="_blank" href="https://www.azmag.gov/">Maricopa Association of Governments</a> | <a href="#Legal" class="links" title="Legal Disclaimer">Legal Disclaimer</a></br><span class="version"></span></p>
    </div>
</div>
