<div id="" data-role="popup" data-dismissible="true" data-overlay-theme="b" data-theme="a" data-dialog="true" data-position-to="window" data-history="false">
    <div data-role="header" class="pHeader">
        <h1>Message</h1>
        <a href="#" data-rel="back" class="ui-btn-right ui-icon-delete ui-btn-icon-notext"></a>
    </div>
    <div role="main" class="ui-content">
        <p>Hey, checkout out one of our new viewers at MAG the RAD viewer</p>
        <a href="https://geo.azmag.gov/maps/recreation/" "RAD Viewer">RAD Viewer</a>
    </div>
</div>
