<div class="panelHeader">
    <span class="panelHeaderText">Bike Safety Tips</span>
    <a class="closePanel" href="#">
        <i class="glyphicon glyphicon-remove"></i>
    </a>
</div>
<ul class="nav nav-pills">
    <li class="active">
        <a data-toggle="pill" href="#bikeSafety">Bike Safety</a>
    </li>
    <li>
        <a data-toggle="pill" href="#streetSafety">Street Safety</a>
    </li>
    <li>
        <a data-toggle="pill" href="#multiSafety">Multi-Use Safety</a>
    </li>
</ul>

<div class="tab-content">
    <div id="bikeSafety" class="tab-pane fade in active">
        <div class="safetyContainer">
            <img class="safetyImg" src="img/safety/1_ride-defensively.png" />
            <div class="safetyDetails">
                <b>Ride Defensively</b>
                <br> Prepare for the unexpected and plan alternative maneuvers to avoid conflict. Traffic laws do not always
                protect bicyclists from injury.
                <br> Be Alert. Be Visible. Ride Predictably.
                <br>
                <b style="color: #a80000">Be Alert. Be Visible. Ride Predictably.</b>
            </div>
        </div>
        <div class="safetyContainer">
            <img class="safetyImg" src="img/safety/2_Always-Maintain-Control.png" />
            <div class="safetyDetails">
                <b>Always Maintain Control of Your Bike</b>
                <br> Except while signaling, keep both hands on the handlebars. Always be prepared to stop or make quick turns.
                Follow lane markings. Cross railroad tracks at a 90-degree angle.
            </div>
        </div>
        <div class="safetyContainer">
            <img class="safetyImg" src="img/safety/4_Helmet.png" />
            <div class="safetyDetails">
                <b>Wear a Helmet</b>
                <br> A bike helmet must fit well and be properly adjusted to do its job of protecting your head. It should fit
                snugly with the chin strap fastened. When purchasing a helmet, make sure it is approved by the American National
                Standards Institute (ANSI) or the Snell Institute. Helmets should be replaced after the impact of a collision
                or after several years of wear and tear.
            </div>
        </div>

        <div class="safetyContainer">
            <img class="safetyImg" src="img/safety/3_Obey-Traffic-Signs.png" />
            <div class="safetyDetails">
                <b>Obey Traffic Signs, Signals and Laws</b>
                <br> Bicyclists have the same rights and responsibilities as drivers of vehicles. Knowing and following the rules
                of the road helps all users anticipate and react to each other. See Arizona Revised Statutes
                <a class="link" href="https://www.azleg.gov/ArizonaRevisedStatutes.asp?Title=28" target="_blank">(ARS) Sections 28-811 to 28-817</a> for more information.
            </div>
        </div>
        <div class="safetyContainer">
            <img class="safetyImg" src="img/safety/saferoutesign.jpg" alt="Bike Route Sign" />
            <div class="safetyDetails">
                <b>Bike Route Sign</b>
                <br> Generally used to signify streets that do not have bike lanes, but are good streets to ride a bike on. Designated
                bike routes usually have lower posted speed limits and traffic volumes.
            </div>
        </div>
        <div class="safetyContainer">
            <img class="safetyImg" src="img/safety/shareroad.png" alt="Share the Road Sign" />
            <div class="safetyDetails">
                <b>Bicycle Share the Road Sign</b>
                <br> May be used to signify routes that do not have designated bicycle lanes, where bikes and cars are expected
                to share a lane. Vehicle drivers are required by state law to provide at least three feet of separation when
                passing a cyclist.
            </div>
        </div>
    </div>
    <div id="streetSafety" class="tab-pane fade">
        <h4>Street Safety Tips</h4>
        <div class="safetyContainer">
            <img class="safetyImg" src="img/onstreet/img_onStreet_01-Obey.png" />
            <div class="safetyDetailsContainer">
                <b>Obey Traffic Signals and Signs</b>
                <div class="safetyDetails">Bicyclists must obey all the rules of the road. Cyclists have the same privileges and duties as other traffic.</div>
            </div>
        </div>
        <div class="safetyContainer">
            <img class="safetyImg" src="img/onstreet/img_onStreet_07-Right.png" />
            <div class="safetyDetailsContainer">
                <b>Ride on the Right</b>
                <div class="safetyDetails">Ride on the right with the flow of traffic. Never ride against traffic on the road, in a bike lane, or on
                    a sidewalk.</div>
            </div>
        </div>
        <div class="safetyContainer">
            <img class="safetyImg" src="img/onstreet/img_onStreet_02-Lane.png" />
            <div class="safetyDetailsContainer">
                <b>Use the Appropriate Lane</b>
                <div class="safetyDetails">Avoid being in a right turn-only lane if you plan to proceed straight through an intersection. Move into
                    the through lane early.
                </div>
            </div>
        </div>
        <div class="safetyContainer">
            <img class="safetyImg" src="img/onstreet/img_onStreet_08-Left.png" />
            <div class="safetyDetailsContainer">
                <b>Turning Left -Two Options</b>
                <div class="safetyDetails">
                    <strong>1.</strong> When riding your bike, signal your intentions in advance. Move to the left turn lane and
                    complete the turn when safe.
                    <br>
                    <strong>2.</strong> When walking your bike, go to the far crosswalk and walk across.</div>
            </div>
        </div>
        <div class="safetyContainer">
            <img class="safetyImg" src="img/onstreet/img_onStreet_03-Doors.png" />
            <div class="safetyDetailsContainer">
                <b>Beware of Car Doors</b>
                <div class="safetyDetails">Be wary of parked cars. Motorists can unexpectedly open doors. Be sure your bike is a car door length away
                    from parked cars when passing.
                </div>
            </div>
        </div>
        <div class="safetyContainer">
            <img class="safetyImg" src="img/onstreet/img_onStreet_09-Signals.png" />
            <div class="safetyDetailsContainer">
                <b>Use Hand Signals</b>
                <div class="safetyDetails">Signal all turns and stops ahead of time. Check over your shoulder, then make your turn/stop when safe to
                    do so.</div>
            </div>
        </div>
        <div class="safetyContainer">
            <img class="safetyImg" src="img/onstreet/img_onStreet_04-Night.png" />
            <div class="safetyDetailsContainer">
                <b>Use Lights at Night</b>
                <div class="safetyDetails">Always use a strong white headlight, rear light and red reflector at night or when visibility is poor.</div>
            </div>
        </div>
        <div class="safetyContainer">
            <img class="safetyImg" src="img/onstreet/img_onStreet_10-Eye.png" />
            <div class="safetyDetailsContainer">
                <b>Make Eye Contact</b>
                <div class="safetyDetails">Confirm that you are seen. Establish eye contact with motorists to ensure that they know you are on the road.</div>
            </div>
        </div>
        <div class="safetyContainer">
            <img class="safetyImg" src="img/onstreet/img_onStreet_05-Scan.png" />
            <div class="safetyDetailsContainer">
                <b>Scan the Road Behind</b>
                <div class="safetyDetails">Look over your shoulder to check behind you regularly and use a mirror to monitor traffic. Although bicycles
                    have equal right to the road, be prepared to maneuver for safety.Look over your shoulder to check behind
                    you regularly and use a mirror to monitor traffic. Although bicycles have equal right to the road, be
                    prepared to make a sudden maneuver for safety.
                </div>
            </div>
        </div>
        <div class="safetyContainer">
            <img class="safetyImg" src="img/onstreet/img_onStreet_11-Person.png" />
            <div class="safetyDetailsContainer">
                <b>One Person Per Bike</b>
                <div class="safetyDetails">Riding double is only permitted when carrying a child in an approved carrier or when riding on a tandem bicycle.</div>
            </div>
        </div>
        <div class="safetyContainer">
            <img class="safetyImg" src="img/onstreet/img_onStreet_06-Helmet.png" />
            <div class="safetyDetailsContainer">
                <b>Protect your Head</b>
                <div class="safetyDetails">Cyclists should always wear a helmet. A bike helmet must fit well and be properly adjusted so it can protect
                    your head. It should fit snugly with the chin strap fastened.</div>
            </div>
        </div>
        <div class="safetyContainer">
            <img class="safetyImg" src="img/onstreet/img_onStreet_12-Courteous.png" />
            <div class="safetyDetailsContainer">
                <b>Be Courteous</b>
                <div class="safetyDetails">Share the road and respect the rights of all roadway users. Motorists and cyclists get along much better
                    when showing courtesy and consideration towards each other.</div>
            </div>
        </div>
        <div class="safetyContainer">
            <img class="safetyImg" src="img/onstreet/img_onStreet_13-NoEarphone.png" />
            <div class="safetyDetailsContainer">
                <b>Earphone Dangers</b>
                <div class="safetyDetails">Never use earphones while riding on the road, as you will not be able to hear what’s going on around you.</div>
            </div>
        </div>
    </div>
    <div id="multiSafety" class="tab-pane fade">
        <h4>Multi-Use Safety Tips</h4>
        <div class="safetyContainer">
            <img class="safetyImg" src="img/onpaths/img_multiUse_01-ToRight.png" />
            <div class="safetyDetailsContainer">
                <b>Keep to the Right</b>
                <div class="safetyDetails">All path users must keep to the right except when passing or turning left. Move off the path to the right
                    when stopping.</div>
            </div>
        </div>
        <div class="safetyContainer">
            <img class="safetyImg" src="img/onpaths/img_multiUse_06-Merge.png" />
            <div class="safetyDetailsContainer">
                <b>Merge Correctly</b>
                <div class="safetyDetails">Look both ways. Yield to through traffic at intersections.</div>
            </div>
        </div>
        <div class="safetyContainer">
            <img class="safetyImg" src="img/onpaths/img_multiUse_02-Signal.png" />
            <div class="safetyDetailsContainer">
                <b>Signal to Others</b>
                <div class="safetyDetails">Cyclists, when approaching others, sound your bell or horn early, then pass safely on the left. Pedestrians,
                    wave when someone is passing you.</div>
            </div>
        </div>
        <div class="safetyContainer">
            <img class="safetyImg" src="img/onpaths/img_multiUse_07-Nature.png" />
            <div class="safetyDetailsContainer">
                <b>Respect Nature</b>
                <div class="safetyDetails">Do not disturb or feed wildlife. Keep to well established paths.
                </div>
            </div>
        </div>
        <div class="safetyContainer">
            <img class="safetyImg" src="img/onpaths/img_multiUse_03-RightWay.png" />
            <div class="safetyDetailsContainer">
                <b>Right-of-Way</b>
                <div class="safetyDetails">Cyclists and in-line skaters must yield to pedestrians. Pedestrians always have the right-of-way.</div>
            </div>
        </div>
        <div class="safetyContainer">
            <img class="safetyImg" src="img/onpaths/img_multiUse_08-Skate.png" />
            <div class="safetyDetailsContainer">
                <b>Where to Skate</b>
                <div class="safetyDetails">Skaters should follow the same rules as cyclists. Ensure your stride does not cross the center of the path.
                </div>
            </div>
        </div>
        <div class="safetyContainer">
            <img class="safetyImg" src="img/onpaths/img_multiUse_04-Pet.png" />
            <div class="safetyDetailsContainer">
                <b>Control Your Pet</b>
                <div class="safetyDetails">Most city ordinances require that pets be leashed while on the path and owners are to clean up after their
                    pets.
                </div>
            </div>
        </div>
        <div class="safetyContainer">
            <img class="safetyImg" src="img/onpaths/img_multiUse_09-Visible.png" />
            <div class="safetyDetailsContainer">
                <b>Be Visible</b>
                <div class="safetyDetails">Outfit your bicycle with a headlight, rear light, and reflectors so you can easily be seen while riding on
                    the road.</div>
            </div>
        </div>
        <div class="safetyContainer">
            <img class="safetyImg" src="img/onpaths/img_multiUse_05-Earphone.png" />
            <div class="safetyDetailsContainer">
                <b>Earphone Dangers</b>
                <div class="safetyDetails">Keep the volume sufficiently low to be able to hear other path users approaching.</div>
            </div>
        </div>
        <div class="safetyContainer">
            <img class="safetyImg" src="img/onpaths/img_multiUse_10-Flood.png" />
            <div class="safetyDetailsContainer">
                <b>Flooded Paths</b>
                <div class="safetyDetails">Many of our paths are in flood channels. Do not enter when water is present.</div>
            </div>
        </div>
    </div>
</div>
