html,
body,
#container {
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
}

#container {
    display: flex;
}

@media (max-width: 900px) {
    #container {
        flex-direction: column;
        overflow: hidden;
    }
    #sidePanel {
        flex: 1;
        max-height:55%;
        overflow-y: scroll;
        -webkit-overflow-scrolling: touch;
    }
}

#viewDiv {
    flex: 4;
}

#sidePanel {
    flex: 1;
    background-color: #1d1d1d;
    border-color: #1b1b1b;
    color: #fff;
    text-shadow: 0 1px 0 #111;
    font-weight: 700;
}

@media (max-width: 1614px) {
    #sidePanel {
        flex: 1.5;
    }
}

@media (max-width: 1188px) {
    #sidePanel {
        flex: 2.3;
    }
}

#layerList {
    padding: 5%;
}

#layerList .checkbox-div {
    border: 1px solid black;
    border-radius: 5px;
    padding: 10px;
    background-color: #2a2a2a;
    border-color: #1d1d1d;
    color: #fff;
    text-shadow: 0 1px 0 #111;
    display: flex;
    align-items: center;
    margin: 1px;
}

#layerList .checkbox-div:hover {
    background-color: #373737;
    border-color: #1f1f1f;
    color: #fff;
    text-shadow: 0 1px 0 #111;
    box-shadow: 0 0 12px #2ad;
    cursor: pointer;
}

#layerList .regular-checkbox:hover,
label:hover,
.regular-checkbox:hover {
    cursor: pointer;
}

#layerList .layerLabel {
    margin-left: 5%;
    font-size: 14px;
}

#layerList .regular-checkbox {
    background-color: #37AADB;
}

#layerList label {
    display: inline;
}

#layerList .regular-checkbox {
    display: none;
}

#layerList .regular-checkbox+label {
    /* background-color: #37AADB; */
    border: 1px solid #cacece;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05);
    padding: 9px;
    border-radius: 3px;
    display: inline-block;
    position: relative;
}

#layerList .regular-checkbox+label:active,
.regular-checkbox:checked+label:active {
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px 1px 3px rgba(0, 0, 0, 0.1);
}

#layerList .regular-checkbox:checked+label {
    background-color: #37AADB;
    border: 1px solid #adb8c0;
    color: #000;
}

#layerList .regular-checkbox:checked+label:after {
    content: '\2714';
    font-size: 10px;
    position: absolute;
    top: 0px;
    left: 3px;
    color: #fff;
}

#layerList .big-checkbox+label {
    padding: 10px;
}

#layerList .big-checkbox:checked+label:after {
    font-size: 15.5555px;
    /* left: 4px; */
}

#layerList .legendDiv {
    padding: 10px;
    color: #fff;
    text-shadow: 0 1px 0 #111;
    display: flex;
    align-items: center;
    margin-left: 5%;
}

#layerList .hiddenLegend {
    display: none;
}

#layerList .legendItem {
    width: 90%;
}

#layerList .legendItemLabel {
    color: #d1d1d1;
    font-size: 12px;
    font-family: "Avenir Next W00", "Helvetica Neue", Helvetica, Arial, sans-serif;
    line-height: 1.3em;
    margin-left: 1%;
}

#layerList img {
    vertical-align: middle;
}

::-webkit-scrollbar {
    width: 15px;
    height: 15px;
    border-bottom: 1px solid #1d1d1d;
    border-top: 1px solid #1d1d1d;
}

::-webkit-scrollbar-thumb {
    border-radius: 8px;
    background-color: #d1d1d1;
    border: 2px solid #1d1d1d;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.2);
}

.popupItem{
    display:flex;
    width: 100%;
}

.popupItem span{
    flex: 3;
}
.popupItem .popupLabel {
    flex: 1;
    font-weight: bold;
}